<p id="notice"><%= notice %></p>

<p>
  <strong>物件名:</strong>
  <%= @user.property %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @user.rent %>
</p>

<p>
  <strong>住所:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @user.year %>
</p>

<p>
  <strong>備考:</strong>
  <%= @user.note %>
</p>

<hr>


<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '戻る', users_path %>
