<p id="notice"><%= notice %></p>

<h1>閲覧</h1>

<p>
  <strong>&emsp;物件名:</strong>
  <%= @user.property %>
</p>

<p>
  <strong>&emsp;賃料:</strong>
  <%= @user.rent %>
</p>

<p>
  <strong>&emsp;住所:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>&emsp;築年数:</strong>
  <%= @user.year %>
</p>

<p>
  <strong>&emsp;備考:</strong>
  <%= @user.note %>
</p>

<hr>
<% i = 0 %>
<% @user.blogs.each do |blog| %>
  <% i += 1 %>
  <h4><%= "最寄駅#{i}" %></h4>
  <p>
    <strong>&emsp;路線名:</strong>
    <%= blog.route %>
  </p>
  <p>
    <strong>&emsp;駅名:</strong>
    <%= blog.station %>
  </p>
  <p>
    <strong>&emsp;徒歩分数:</strong>
    <%= blog.minutes %>
  </p>
<% end %>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '戻る', users_path %>
