<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @user.property %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @user.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Year:</strong>
  <%= @user.year %>
</p>

<p>
  <strong>Note:</strong>
  <%= @user.note %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
