<%= nested_form_for(@property_information) do |form| %>

  <% if property_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_information.errors.count, "error") %> prohibited this property_information from being saved:</h2>

      <ul>
      <% property_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property, "物件名" %>
    <%= form.text_field :property %>
  </div>

  <div class="field">
    <%= form.label :rent, "賃料" %>
    <%= form.text_field :rent %>円
  </div>

  <div class="field">
    <%= form.label :address, "住所" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :year, "築年数" %>
    <%= form.text_field :year %>年
  </div>

  <div class="field">
    <%= form.label :note, "備考" %>
    <%= form.text_area :note %>
  </div>

  <hr>

  <div class="field">
    <%= form.fields_for :add_stations do |add_stations_form| %>
    <p class="title"></p>
      <%= add_stations_form.label :route, "路線名" %>
      <%= add_stations_form.text_field :route %><br />
      <%= add_stations_form.label :station, "駅名" %>
      <%= add_stations_form.text_field :station %><br />
      <%= add_stations_form.label :minutes, "徒歩分数" %>
      <%= add_stations_form.text_field :minutes %>分<br />
      <%= add_stations_form.link_to_remove "削除" %>
    <% end %>
  </div>
    <%= form.link_to_add "最寄り駅を追加", :add_stations, id: "addSta" %>

  <script>
  window.onload = () => {
    document.getElementsByClassName('title')[0].innerText = "最寄り駅1"
    const button = document.getElementById('addSta')
    button.addEventListener('click', () => {
      setTimeout(() => {
        const titles = document.getElementsByClassName('title')
        for(i = 0; i < titles.length; i++){
          titles[i].innerHTML = `最寄駅${i+1}`
        }
      }, 1)
    })
  }
  </script>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
