<p id="notice"><%= notice %></p>

<h1>閲覧</h1>

<p>
  <strong>&emsp;物件名:</strong>
  <%= @property_information.property %>
</p>

<p>
  <strong>&emsp;賃料:</strong>
  <%= @property_information.rent %>
</p>

<p>
  <strong>&emsp;住所:</strong>
  <%= @property_information.address %>
</p>

<p>
  <strong>&emsp;築年数:</strong>
  <%= @property_information.year %>
</p>

<p>
  <strong>&emsp;備考:</strong>
  <%= @property_information.note %>
</p>

<hr>
<% i = 0 %>
<% @property_information.add_stations.each do |add_station| %>
  <% i += 1 %>
  <h4><%= "最寄駅#{i}" %></h4>
  <p>
    <strong>&emsp;路線名:</strong>
    <%= add_station.route %>
  </p>
  <p>
    <strong>&emsp;駅名:</strong>
    <%= add_station.station %>
  </p>
  <p>
    <strong>&emsp;徒歩分数:</strong>
    <%= add_station.minutes %>
  </p>
<% end %>

<%= link_to '編集', edit_property_information_path(@property_information) %> |
<%= link_to '戻る', property_informations_path %>
